/* You can add global styles to this file, and also import other style files */

.contenedorPagina {
  margin-top: 7%;
}
.contenedorFormularioItem {
  margin-top: -15px;
}

.contenedorModal {
  padding: 5%;
}

.tituloModal {
  margin-top: 1%;
  h1 {
    font-size: 2rem;
  }
}
.contenidoFormularioModal {
  margin-top: 3%;
}
@media (max-width: 768px) {
  .tituloPagina {
    font-size: 1.4rem !important;
  }
  .contenedorPagina {
    margin-top: 20%;
  }
}

.modal-content {
  animation-name: example;
  animation-duration: 0.1s;
  .nav-bar {
    visibility: hidden;
  }
}

@keyframes example {
  0% {
    transform: scale(0.3);
  }
  100% {
    transform: scale(1);
  }
}
