<div class="container row contenedorModal">
    <div class="col-12">
        <button type="button" class="close" aria-label="Close" autofocus (click)="close()" id="btnCerrarModalAgenda">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="col-12 tituloModal">
        <h1 class="tituloPagina">Eliminar item</h1>
    </div>
    <div class="col-12 contenidoFormularioModal">
        <app-form-item [objeto]="item" [modalOptions]="modalConfirmacionOptions" [pagina]="'eliminar'"
            (respuesta)="onDelete($event)">
        </app-form-item>
    </div>
</div>