<ng-template #modalconfirmacion class="modal">
  <div class="modal-header">
    <h4 class="modal-title text-primary" style="font-weight:bold; font-size:18px">{{modalOptions.title}}</h4>
    <button type="button" class="close" aria-label="Close" (click)="cancelar()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body" style="font-family: sans-serif; font-size: 13px;">
    {{modalOptions.message}}
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" (click)="aceptar()">{{modalOptions.forwardLabel}}</button>
    <button type="button" class="btn btn-danger" (click)="cancelar()">{{modalOptions.dismissLabel}}</button>
  </div>
</ng-template>


<button *ngIf="modalOptions.buttonName" class="btn {{modalOptions.clase}}" style="font-size: 0.7rem !important"
  [disabled]="modalOptions.disabled" [ngClass]="(modalOptions.disabled)?'btnDisabled btn ':'btn '"
  (click)="open(modalconfirmacion)">
  <em *ngIf="modalOptions.icon" class="{{modalOptions.icon}}"></em>
  {{modalOptions.buttonName}}
</button>