.max-page {
  height: 100%;
  width: 100%;
}

.btn-google {
  color: white;
  background: #e82033;
}

.centrado-porcentual {
  margin-left: 25%;
  margin-right: 25%;
  margin-top: 10%;
  box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 9px 26px 0 rgba(0, 0, 0, 0.19);
  padding: 5%;
}
@media (max-width: 768px) {
  .centrado-porcentual {
    margin-left: 1%;
    margin-right: 1%;
    margin-top: 25%;
    box-shadow: none;
    padding: 5%;
  }
}
