<app-nav-bar></app-nav-bar>
<div class="max-page">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="centrado-porcentual">
                    <h3 *ngIf="tipoPantalla!='/login/registro'">Ingresar</h3>
                    <h3 *ngIf="tipoPantalla =='/login/registro'">Registrarse</h3>
                    <form>
                        <div class="form-group">
                            <input autofocus type="text" class="form-control" placeholder="email *" name="email"
                                [(ngModel)]="user.email" autofocus [ngClass]="{'is-invalid':!validarCorreo()}" />
                            <p *ngIf="!validarCorreo()" class="text-danger" style="font-size:0.7rem"><em
                                    class="fa fa-exclamation-triangle"></em>Error de
                                información incluya un signo "@" en la dirección de correo electrónico.</p>
                        </div>
                        <div class="form-group">
                            <input type="password" class="form-control" placeholder="contraseña *"
                                [(ngModel)]="user.password" name="password"
                                [ngClass]="{'is-invalid':user.password ==''}" />
                        </div>
                        <div class="form-group">
                            <button *ngIf="tipoPantalla!='/login/registro'" class="btn btn-block btn-primary"
                                [disabled]="!user.password || !user.email || user.email=='' || user.password==''
                                || !validarCorreo()" (click)="onLogin()"> <i class="fa fa-sign-in"
                                    aria-hidden="true"></i>
                                Ingresar</button>
                            <button *ngIf="tipoPantalla =='/login/registro'" class="btn btn-block btn-info"
                                (click)="crearUsuario()" [disabled]="!user.password || !user.email || user.email=='' || user.password==''
                                || !validarCorreo()"> <i class="fa fa-sign-in" aria-hidden="true"></i>
                                Registrarse</button>
                        </div>
                        <div class="form-group">
                            <button class="btn btn-block btn-google btn-social" (click)="onLoginGoogle()">
                                <span class="fa fa-google"></span>
                                Google
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>