<nav class="fixed-top navbar navbar-expand-lg navbar-expand-md navbar-expand-sm navbar-dark bg-dark">
    <a class="navbar-brand" href="#">FIREBASE CRUD ITEMS</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText"
        aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarText">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item" *ngIf="isLogged">
                <a class="nav-link" [routerLink]="['/main/crear']">Crear</a>
            </li>

            <li class="nav-item" *ngIf="isLogged">
                <a class="nav-link" [routerLink]="['/main/consultar']">Consulta Firebase</a>
            </li>

            <li class="nav-item" *ngIf="isLogged">
                <a class="nav-link" [routerLink]="['/main/consultar-api']">Consulta API</a>
            </li>
        </ul>
        <ul class="navbar-nav pull-rigth-lg" *ngIf="isLogged">
            <li class="nav-item ">
                <a class="nav-link" (click)="logOut()">
                    <em class="fa fa-sign-out"></em>
                    Salir</a>
            </li>
        </ul>
        <ul class="navbar-nav pull-right-lg" *ngIf="!isLogged">
            <li class="nav-item">
                <a class="nav-link" [routerLink]="['/login/registro']"><i class="fa fa-user-plus"
                        aria-hidden="true"></i>
                    Registrarse</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" [routerLink]="['/login/ingreso']"><i class="fa fa-sign-in" aria-hidden="true"></i>
                    Ingresar</a>
            </li>
        </ul>
    </div>
</nav>