.main-container {
  position: relative;
}

.main-container,
p,
.card-body {
  margin: 0;
  // font-size: 11px;
  font-size: 91%;
  padding-bottom: 0.5em;
}

.main-container .card-body .card-title {
  margin: 0 0 3% 0;
  color: blue;
  // font-size: 12px;
  font-size: 110%;
  font-weight: 800;
}

.main-container .card-body {
  padding-top: 5px !important;
  margin-top: 5px !important;
}

.card-body p {
  margin: 0;
  padding: 0;
}

.custom-card {
  min-height: 8rem !important;
}

p {
  margin-bottom: 1%;
}

button {
  font-size: 0.6rem;
}
