<div class="card-columns mx-3 my-4 p-2 main-container" id="contenedorColumnas">
    <div class="card col-11 main-container shadow p-1 mt-1 mb-3 bg-white rounded"
        *ngFor="let obj of objeto | paginate: { itemsPerPage: 6, currentPage: p }  ; let i = index; ">
        <div class="card-body">
            <h3 style="font-size: 0.9rem">Title:</h3>
            <p style="font-size: 0.7rem">{{obj.title}}</p>
        </div>
        <div class="card-body">
            <h3 style="font-size: 0.9rem">Id:</h3>
            <p style="font-size: 0.7rem">{{obj.id}}</p>
        </div>
        <div class="card-body row" *ngIf="pantalla=='fire'">
            <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12" style="padding: 1%;">
                <button class="btn btn-sm btn-dark   btn-block" (click)="accion('editar',obj)"><span
                        class="fa fa-edit"></span>
                    Editar</button>
            </div>
            <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12" style="padding: 1%;">
                <button class="btn btn-sm btn-danger btn-block" (click)="accion('eliminar',obj)"><span
                        class="fa fa-trash"></span>
                    Eliminar</button>

            </div>

        </div>
    </div>
</div>

<pagination-controls *ngIf="objeto.length>6" class="paginador pull-right" (pageChange)="p = $event" responsive="true"
    previousLabel="Anterior" nextLabel="Siguiente"></pagination-controls>