<div class="container row contenedorPagina">
    <div class="col-12 row">
        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
            <h1 class="tituloPagina">Consulta Items Firebase</h1>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
            <p>Total de registros: {{totalRegistros}}</p>
            <input autofocus class="form-control" [(ngModel)]="filtro" placeholder="Ingrese el id o titulo para buscar"
                (ngModelChange)="filtrarItems()" autofocus>

        </div>
    </div>

    <div class="col-12 contenedorFormularioItem">
        <app-tarjeta-registro [objeto]="items" (result)="accion($event)" [filtroBusqueda]="filtro">
        </app-tarjeta-registro>
    </div>
</div>