<div class="container row contenedorPagina contenedorModal">
    <div class="col-12">
        <h1 class="tituloPagina">Crear item</h1>
    </div>
    <div class="col-12 contenedorFormularioModal">
        <app-form-item [objeto]="item" [modalOptions]="modalConfirmacionOptions" [pagina]="'crear'"
            (respuesta)="onSaveItem($event)">
        </app-form-item>
    </div>
</div>