<div class="max-page">
    <div class="container">
        <div class="row">
            <div class="col-12" (click)="validarFormulario()" (keyup)="validarFormulario()">
                <div class="centrado-porcentual">
                    <form>
                        <div class="form-group">
                            <label><strong>* Title:</strong></label>
                            <input type="text" class="form-control" name="tittle" [(ngModel)]="objeto.title"
                                [disabled]="pagina=='eliminar'" uppercase />
                        </div>
                        <div class="form-group">
                            <label><strong>* Id:</strong></label>
                            <input type="text" class="form-control" [(ngModel)]="objeto.id" name="id"
                                [disabled]="pagina =='eliminar'" onlyNumber />
                            <p *ngIf="pagina !='eliminar'" class="text-info" style="font-size:0.7rem"><em
                                    class="fa fa-exclamation-triangle"></em>
                                Sólo se permiten números en este campo</p>
                        </div>
                        <div class="form-group">
                            <confirmation-app-modal *ngIf="modalOptions" [modalOptions]='modalOptions' id='btnRegistro'
                                (modalResponse)="accion($event)"></confirmation-app-modal>

                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>